[user]
    name = "Matt Hems"
    email = mhems1@binghamton.edu

[core]
    editor = emacs
    whitespace = blank-at-eol, space-before-tab
    excludesfile = ~/.gitignore

[color]
    ui = auto

[github]
    user = mhems

[alias]
    co = checkout
    cob = checkout -b
    ci = commit
    cim = commit -m
    cam = commit -am
    amend = commit --no-edit --amend
    br = branch
    st = status
    up = push origin master
    dl = pull origin master
    last = log -1 HEAD


# [help]
#     autocorrect = 50
